#header {
  background-color: @white;
  height: @header-height;
  .logo  {
    color:@leo-blue;
    font-size: @base-font-size*2;
    font-weight: normal;
  }
  .phone  {
    color:@leo-blue;
    font-size: @base-font-size*2;
    font-weight: normal;

  }
}
