#main-ipad {

  .ipad-title {
    margin-top: 10px;
    h3 {
      color:#7fa640;
      font-size:@base-font-size*1.4;
      font-weight: normal;
      text-align: center;
      line-height: @font-size*2;
    }
  }
  .ipad-min {
    margin-top: 20px;
    width: 100%;
    img {
      width: 100%;
    }
  }
  .ipad-text {
    margin-top: 20px;
    p {
      color:#7fa640;
      font-size:@base-font-size;
      font-weight: normal;
      text-align: left;
      line-height: @font-size*2;

    }
  }
  .free-course-link {
    p {
      a {
        color:#475f20;
      }
    }
  }
}