#main-student {

  .student-title {
    margin-top: 10px;
    h3 {
      color:#e2446c;
      font-size:@base-font-size*1.3;
      font-weight: normal;
      text-align: center;
      line-height: @font-size*2;
      small {
        color:#ff93ae;
        font-size:@base-font-size;
        font-weight: normal;
      }
    }
  }
  .ipad-min {
    margin-top: 10px;
    width : 100%;
    video {
      width: 100%;
    }
  }
  .ipad-text {
    margin-top: 10px;
    p {
      color:#e2446c;
      font-size:@base-font-size;
      font-weight: normal;
      text-align: center;
      line-height: @font-size*2;

    }
  }

}

#article-student {
  padding-top: 10px;
  .free-course-link {
    p {
      a {
        color:#872b43;
      }
    }
  }
}
#student-carousel {
  margin-top: 0px;
  background: #ffe3ea;

  .carousel-indicators  {

    top:60%;
    li {
      background:@white;
      display:inline-block;

    }
    .active {
      background:#e2446c;
    }

  }

  .carousel-control {
    color:@white;
    font-size:@base-font-size*4;
    background-image:none;
    background: none;
    border: none;
    top:15%;
  }

  .carousel-control.right, .carousel-control.left {
    background-image:none;
    background: none;
    border: none;
  }

  .carousel-inner {
    .item {
      img {
        width: 100%;
      }
      .caption {
        padding-left: 15px;
        padding-right: 15px;
        margin-top: 50px;
        color:#e2446c;
        font-size:@base-font-size;
        font-weight: normal;
        text-align: center;
        line-height: @font-size*2;
        p {
          text-align: center;
        }
      }
    }
  }
}