<!-- 模态框（Modal） -->
<div class="modal fade" id="baichuan-service-modal" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close"
                        data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    理优咨询老师
                </h4>
            </div>
            <div class="modal-body" id="service-content">
            </div>

        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>