<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container" id="footer-menu">
        <div class="row">
           <div class="col-xs-6 service">
               <h3>
                   <span class="tel iconfont icon-service"></span>
                   <a href="tel:4001693070">&nbsp;在线客服</a>
               </h3>
           </div>
            <div class="col-xs-6 phone">
                <h3>
                    <span class="tel iconfont icon-tel"></span>
                    <a href="tel:4001693070">&nbsp;电话咨询</a>
                </h3>
            </div>

        </div>
    </div>
</nav>