<div class="container-fluid">
    <div class="row" id="header">
        <div class="col-xs-6 leo-logo" align="left">
            <img src= <%- host %><%- leo_logo_png %>>
        </div>
        <div class="col-xs-6 phone" align="right">
            <a href="tel:4001693070"><span class="tel iconfont icon-tel"></span></a>
        </div>
    </div>
</div>
