<div class="container-fluid">
    <div class="row" id="header">
        <div class="col-xs-6 logo" align="left">
            <span class="leo-logo" title="理优1对1"><i class="iconfont icon-main-logo"></i></span>
        </div>
        <div class="col-xs-6 phone" align="right">
            <span class="tel iconfont icon-tel">&nbsp;400-169-3070</span>
        </div>
    </div>
</div>
