<section class="section-knowledge">
    <article class="container">
        <div class="row" id="main-knowledge">
            <div class="col-xs-12 knowledge-title">
                <h3 class="small">
                    知识点一网打尽<br/>个性化课程体系量身定制学习计划
                </h3>
            </div>
            <div class="col-xs-12 knowledge-chart">
                <img src= <%- host %><%- knowledge_map_png %>>
            </div>
            <div class="col-xs-12 knowledge-text">
                <p>
                    对初中近3000个知识点进行拆分解析，专业的课前测评，全面了解知识点掌握情况，按照你的掌握程度定制学习课程，真正做到个性化辅导。
                </p>
            </div>
            <%- partial("_free-course-link") %>
        </div>
    </article>
</section>