<section class="section-service">
    <article class="container">
        <div class="row" id="main-service">
            <div class="col-xs-12 service-title">
                <h3 class="small">
                    7*24小时管家式学习服务<br>
                </h3>
            </div>
            <div class="col-xs-12 service-image">
                <img src= <%- service_team_png %>>
            </div>
            <div class="col-xs-12 service-text">
                <p>
                    近百位助教，学习顾问团队为你提供5对1微笑服务。学习规划师定制专属学习计划，名师1对1全方位授课，定期进行阶段性可是测评，名校大学生免费答疑陪读，心理老师定期纠正家庭教育方法，给孩子最好的教育环境。
                </p>
            </div>

            <%- partial("_free-course-link") %>

        </div>
    </article>
</section>
