<section class="section-knowledge">
    <article class="container">
        <div class="row" id="main-knowledge">
            <div class="col-xs-12 knowledge-title">
                <h3 class="small">
                    知识点一网打尽，个性化课程体系量身定制学习计划
                </h3>
            </div>
            <div class="col-xs-12 knowledge-chart">
                <!-- 为ECharts准备一个具备大小（宽高）的Dom -->
                <div id="main_map" style="width: 100%;height:100%;"></div>
                <script src="http://leohtml.oss-cn-shanghai.aliyuncs.com/www/js/knowledge_map.js"></script>
            </div>
            <div class="col-xs-12 knowledge-text">
                <p>
                    对初中近3000个知识点进行拆分解析，专业的课前测评，全面了解知识点掌握情况，按照你的掌握程度定制学习课程，真正做到个性化辅导。
                </p>
            </div>
            <div class="col-xs-12" id="free-course-link">
                <p>
                    立即预约试听 >
                </p>
            </div>
        </div>
    </article>
</section>