<section class="section-student">
    <article class="container">
        <div class="row" id="main-student">
            <div class="col-xs-12 student-title">
                <h3>
                    每一年<br/>数万人次通过理优教育提升学习成绩<br/>
                    <small>我们来听听，学员们为什么选择理优教育</small>
                </h3>
            </div>


        </div>

    </article>


</section>
<%- partial("_student-carousel") %>
<article class="container">
    <div class="row">
        <div class="col-xs-12" id="free-course-link">
            <p>
                立即预约试听 >
            </p>
        </div>
    </div>
</article>
