<section class="section-free-course">
    <article class="container">
        <div class="row">
            <div class="col-xs-12">
                <form role="form" id="free-course-form">
                    <h3>申请免费试听课</h3>
                    <div class="input-ct">
                        <i class="iconfont icon-phone"></i>
                        <input type="tel"  id="phone" name="tel" placeholder="请输入家长手机号">
                    </div>
                    <div class="input-ct">
                        <i class="iconfont icon-grade"></i>
                        <select name="grade" id="grade">
                            <option value="-1">请选择孩子的年级</option>
                            <option value="400">学龄前</option>
                            <option value="100">小学</option>
                            <option value="200">初中</option>
                            <option value="300">高中</option>
                        </select>
                    </div>
                    <div class="input-ct">
                        <i class="iconfont icon-subject"></i>
                        <select name="subject" id="subject">
                            <option value="-1">请选择试听的学科</option>
                            <option value="2">数学</option>
                            <option value="3">英语</option>
                            <option value="4">化学</option>
                            <option value="5">物理</option>
                        </select>
                    </div>
                    <div class="input-ct">
                        <i class="iconfont icon-pad"></i>
                        <select class="has-pad" name="has-pad" id="device">
                            <option value="-1">请选择是否有Pad</option>
                            <option value="1">苹果iPad</option>
                            <option value="2">其他Pad</option>
                            <option value="3">没有Pad</option>
                        </select>
                    </div>


                </form>
                <button class="btn btn-primary" id="submit-free-cource">立即预约</button>
            </div>
        </div>
    </article>
</section>





























