<section class="section-tutor">
    <article class="container">
        <div class="row" id="main-tutor">
            <div class="col-xs-12 tutor-title">
                <h3 class="small">
                    汇聚金字塔顶尖的理科老师<br />
                </h3>
            </div>
            <div class="col-xs-12 tutor-chart">
                <img src= <%- host %><%- tutor_png %>>
            </div>
            <div class="col-xs-12 tutor-text">
                <p>
                    1500位理科教研员组成的名师团队，均经过教研部层层选拔，重点初高中在职理科老师和培训机构优秀讲师强强联手。举办了两百多场初高中理科公开课，获得十万名学生及其家长的认可。
                </p>
            </div>
            <%- partial("_free-course-link") %>

        </div>
    </article>
</section>

