<section class="section-pad">
    <article class="container">
        <div class="row" id="main-ipad">
            <div class="col-xs-12 ipad-title">
                <h3 class="small">
                    创新的在线学习模式<br/>最好玩的直播课堂
                </h3>
            </div>
            <div class="col-xs-12 ipad-min">
                <img src= <%- host %><%- ipad_mini_png %>>
            </div>
            <div class="col-xs-12 ipad-text">
                <p>
                    领先的在线直播和电子白板技术，超越传统课堂的在线学习体验，在家里用Ipad即可与老师进行实时语音互动学习。
                </p>
            </div>
            <%- partial("_free-course-link") %>
        </div>
    </article>

</section>